.filler {
    display: flex;

    grid-column: 1;
    grid-row: 3;

    flex-direction: column;

    padding-top: 11.7rem;

    @media (--desktop) {
        padding-top: 71.8rem;
    }
}
