.site-footer {
    grid-area: 14 / 1 / span 4 / 2;

    margin-top: 2.5rem;
    padding-top: 29rem;
    padding-bottom: 3rem;

    background-color: var(--darkblue-400);

    font-size: 1.6rem;

    @media (--desktop) {
        padding-top: 26.7rem;
    }

    ul {
        padding-left: 1rem;
    }

    .grid {
        grid-template-columns: 5fr 1fr 1fr 1.25fr;
    }
}

.support-list {
    display: grid;

    grid-column: 1;
    grid-column-gap: 60px;
    grid-row: 1;
    grid-template-columns: 1.5fr 1fr;

    margin-left: 2.8rem;

    &-item {
        display: flex;

        align-items: center;

        &:first-child {
            align-items: baseline;
        }
    }

    &-text,
    &-link {
        order: 1;

        margin-right: auto;
    }

    &-text {
        padding-left: 2.7rem;
    }

    &-link {
        padding-left: 1.9rem;

        @media (--desktop) {
            font-size: 1.5rem;
        }
    }

    &-text:hover + [class^='support-icon-'] {
        filter: var(--svg-cyan);
    }
}

.about-nav {
    grid-column: 1;
    grid-row: 2;

    @media (--desktop) {
        grid-column: 2;
        grid-row: 1;
    }
}

.legal-nav {
    grid-column: 1;
    grid-row: 3;

    @media (--desktop) {
        grid-column: 3;
        grid-row: 1;
    }
}

@media (--desktop) {
    .about-nav li,
    .legal-nav li {
        margin-bottom: 1.5rem;
        padding-left: 3rem;
    }
}

.site-footer .social {
    display: flex;

    grid-column: 1;
    grid-row: 4;

    margin: 7.6rem auto 2rem;
    padding-left: 0;

    @media (--desktop) {
        grid-column: 4;
        grid-row: 1;

        margin-top: 1.8rem;
        margin-right: 0;
    }

    li:not(:first-child) {
        margin-left: 0.9rem;

        @media (--desktop) {
            margin-left: 1.2rem;
        }
    }

    &-icon {
        width: 3.2rem;

        filter: var(--svg-white);

        &:hover {
            filter: var(--svg-cyan);
        }
    }
}
