.text-link {
    display: inline-flex;

    align-items: center;

    padding-top: 0.3rem;

    border-bottom: solid 2px;

    color: var(--cyan);
    font-size: inherit;
    line-height: 1.8;
}

.gradient-link {
    background: var(--white);

    color: transparent;

    background-clip: text;

    &:hover,
    &:active {
        background: var(--gradient-primary);

        color: transparent;

        background-clip: text;
    }
}
