.features {
    position: relative;

    grid-column: 1;
    grid-row: 4 / span 4;

    padding-top: 35.3rem;

    background-color: var(--darkblue-300);

    @media (--desktop) {
        margin-top: -2.7rem;
        padding-top: 0;
    }

    &-content {
        display: grid;

        grid-row-gap: 86px;
        grid-template-columns: repeat(auto-fit, minmax(33.6rem, 1fr));

        max-width: 100%;
        margin: auto;

        @media (--desktop) {
            grid-gap: 55px 120px;

            width: 115.6rem;
        }

        h2 {
            margin-top: 3.2rem;
        }
    }

    .features-item {
        display: grid;

        align-content: baseline;
    }

    .text-wrap {
        padding: 0 0.9rem;
    }
}
